<p> Edit Content of <%=params[:filename]%></p>


<textarea id="new_text" rows="4" cols="50" method="POST" name="new_text" form=confirmationForm action="/<%=params[:filename]%>/edit/save">
  <%=File.read(@file_path)%>
</textarea>

<form method="POST" action="/<%=params[:filename]%>" name="confirmationForm" id=confirmationForm>
  <input type="submit" value="Submit">
</form>
