<p> Edit Content of <%=params[:filename]%></p>

<form action = "/<%=params[:filename]%>/edit/save" method = "get">
  <textarea rows="4" cols="50">
  <%=File.read(@file_path)%>
  </textarea>
  <input name = "new_text" type = "submit" value = "Save Changes"</input>
</form>
