<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%=file%>"><%= file %></a> <a href="<%=file%>/edit"><button type="button">Edit</button></a>
      <form action="/<%=file%>/destroy" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>


<p>
  <% if session[:username] && session[:password]%>
      <p> Signed in as admin </p>
      <form method="POST" action="/users/signout">
        <input type="submit" value="Sign Out" />
      </form>
  <% else %>
    <form action="/users/signin">
      <input type="submit" value="Sign In" />
    </form>
  <% end %>
</p>
