<ul>
  <% @files.each do |file| %>
    <li>
      <a href="<%=file%>"><%= file %> <button type="button">Edit</button> </a>
    </li>
  <% end %>
</ul>

<% if session[:update] %>
    <p><%= session.delete(:update) %></p>
<% end %>
